<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <!-- You should properly set the path from the main file. -->
</head>
<body>

<h1>
    all owners :^)
</h1>

<h2>Here are all Owners which are stored in the db:</h2>

<table>

    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    {#for owner in ownerList}
        <tr>
            <td>{owner.getId()}</td>
            <td>{owner.getFirstName()}</td>
            <td>{owner.getLastName()}</td>
        </tr>
    {/for}

</table>


</body>
</html>